.footer {
  background-color: #7c6c62;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__heading {
    font-size: 3rem;
    padding: 3rem 0;
    color: #fff;
    font-weight: 300;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin: 0 auto;
    width: 60rem;

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }

  &__item {
    list-style: none;
    padding-bottom: 5rem;

    /* &:not(:last-child) {
      padding-right: 2rem;
    } */
  }

  &__link {
    text-decoration: none;
    color: #112d32;
    background-color: #abb5b2;
    padding: 1rem 2rem;
    display: inline-block;
    transition: all 0.2s;

    &:hover,
    &:active {
      box-shadow: 0 1rem 2rem rgba(#000, 0.4);
      transform: rotate(-5deg) scale(1.2);
    }
  }
}
