.header {
  color: #fff;
  //padding: 30rem 0 25rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #112d32;
  position: relative;
  height: 100vh;

  @include respond(mid-desk) {
    height: 95vh;
  }

  @include respond(tab-port) {
    height: 90vh;
    padding: 20rem 0;
  }

  @include respond(phone) {
    padding: 15rem 3rem 20rem 3rem;
  }

  &__text-container {
    text-align: center;
    position: relative;
    opacity: 0;
    animation: fadein 1s forwards 3s;

    @include respond(phone) {
      text-align: center;
      animation: none;
      opacity: 1;
    }
  }

  @keyframes fadein {
    to {
      opacity: 1;
    }
  }
  &__heading-first {
    font-size: 7rem;
    font-weight: 400;

    @include respond(phone) {
      font-size: 4.5rem;
      padding: 0 5rem;
    }

    .wrapper {
      display: inline-block;
      position: relative;
      margin-left: 2rem;
      width: 5rem;

      @include respond(mini-phone) {
        margin-left: 1rem;
      }
    }

    .name {
      position: absolute;
      color: #5e5d5d;
      left: 0;
    }

    .name:before {
      content: attr(data-heading);
      position: absolute;
      color: #ffcc00;
      width: 100%;
      z-index: 5;
      text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4),
        1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4),
        1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00,
        0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
      animation: flicker 3s linear 6s infinite;
    }

    @keyframes flicker {
      0%,
      19.999%,
      22%,
      62.999%,
      64%,
      64.999%,
      70%,
      100% {
        opacity: 0.99;
        text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4),
          1px -1px 0 rgba(255, 255, 255, 0.4),
          -1px 1px 0 rgba(255, 255, 255, 0.4),
          1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px,
          0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
      }
      20%,
      21.999%,
      63%,
      63.999%,
      65%,
      69.999% {
        opacity: 0.4;
        text-shadow: none;
      }
    }
    .rest {
      padding-left: 3rem;
      text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4),
        1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4),
        1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00,
        0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
      color: #ffcc00;

      @include respond(phone) {
        padding-left: 2rem;
      }
    }
  }

  &__heading-second {
    font-size: 4rem;
    font-weight: 300;

    @include respond(phone) {
      font-size: 3rem;
    }
  }

  &__paragraph {
    font-size: 2rem;
    color: #6e6658;
    font-weight: 800;
  }

  &__square {
    display: block;
    width: 200px;
    height: 50px;
    position: relative;
    margin: 5rem 0;
    //opacity: 0;

    &__text {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 1.6rem;
      font-weight: 300;
    }
  }

  .l1,
  .l2,
  .l3,
  .l4 {
    position: absolute;
    background: transparent;
    width: 0px;
    height: 0px;

    animation-duration: 0.9s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  .l1 {
    left: 0;
    bottom: 0;
    height: 50px;
    width: 2px;
    animation-name: l1;
    animation-delay: 2.9s;
  }

  .l2 {
    top: 0;
    left: 0;
    width: 100px;
    height: 2px;
    animation-name: l2;
    animation-delay: 3.6s;
  }

  .l3 {
    right: 0;
    top: 0;
    height: 50px;
    width: 2px;
    animation-name: l3;
    animation-delay: 4.5s;
  }

  .l4 {
    bottom: 0;
    right: 0;
    width: 100px;
    height: 2px;
    animation-name: l4;
    animation-delay: 5.4s;
  }
  @keyframes l1 {
    0% {
      height: 0;
      background: #eee;
    }
    100% {
      height: 50px;
      background: #eee;
    }
  }

  @keyframes l2 {
    0% {
      width: 0;
      background: #eee;
    }
    100% {
      width: 200px;
      background: #eee;
    }
  }

  @keyframes l3 {
    0% {
      height: 0;
      background: #eee;
    }
    100% {
      height: 50px;
      background: #eee;
    }
  }

  @keyframes l4 {
    0% {
      width: 0;
      background: #eee;
    }
    100% {
      width: 200px;
      background: #eee;
    }
  }

  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    @include respond(mid-desk) {
      bottom: -0.5rem;
    }
  }
  .wave svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 263px;
  }

  .wave .shape-fill {
    fill: #88bdbc;
  }
  .arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 15rem;
    padding: 0 10rem;

    @include respond(tab-port) {
      padding: 0 5rem;
    }

    @include respond(tab-port) {
      bottom: 20rem;
    }

    @include respond(phone) {
      display: none;
    }
  }

  .arrow {
    fill: #fff;
    width: 3rem;
    height: 3rem;
    animation: arrow-animation 2s linear infinite;
  }

  @keyframes arrow-animation {
    0%,
    100% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(-3rem);
      opacity: 0;
    }
  }
}
